<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.nutri_guide_background.mapper.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, email, avatar_url, gender, height, weight)
        VALUES (#{username}, #{password}, #{email}, #{avatarUrl}, #{gender}, #{height}, #{weight})
    </insert>
    
    <select id="selectById" resultType="org.example.nutri_guide_background.entity.User">
        SELECT * FROM user WHERE id = #{id}
    </select>
    
    <select id="selectOne" resultType="org.example.nutri_guide_background.entity.User">
        SELECT * FROM user WHERE username = #{username}
    </select>
    
    <update id="updateById">
        UPDATE user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="height != null">height = #{height},</if>
            <if test="weight != null">weight = #{weight}</if>
        </set>
        WHERE id = #{id}
    </update>
    
    <delete id="deleteById">
        DELETE FROM user WHERE id = #{id}
    </delete>
</mapper> 